/* src/components/About.css */

.about-section {
  padding: 100px 40px 0px 40px;
  background-color: rgba(7, 7, 7, 1);
  
}
  
  .about-container {
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    padding: 30px 30px 0px 30px;
    background-color: #171717cd;  /* White background for the card */
    border-radius: 15px;  /* Rounded corners */
    box-shadow: 0 4px 15px rgb(0, 0, 0);  /* Subtle shadow to create card effect */
    transition: box-shadow 0.3s ease-in-out;  /* Smooth transition on hover */
  }
  
  .about-container:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);  /* Shadow on hover */
  }
  
  /* Left column: text content */
  .about-content {
    flex: 1.5;
    padding: 10px 30px 10px 60px;
  }
  
  .about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#3e5587;
  }
  
  .about-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #fff;
    text-align: justify;
  }
  
  .about-content h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .about-content ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  .about-content ul li {
    margin-bottom: 8px;
  }
  
  /* Right column: image */
  .about-image {
    flex: 1;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    top: -100px;
  }
  
  .about-image img {
    margin-left: 10px;
    padding: 50px 0px 0px 0px;
    width:80%;
  }
  
  /* Responsive layout for mobile */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      padding: 20px;  /* Add some padding for smaller screens */
    }
  
    .about-content h2 {
      font-size: 2rem;
    }
  }
  