/* src/components/About.css */

.about-section {
  padding: 80px 20px 0px 20px;
  background-color: rgba(7, 7, 7, 1);
}

.about-container {
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding: 30px;
  background-color: #171717cd;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
}

.about-container:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Left column: text content */
.about-content {
  flex: 1.5;
  padding: 20px;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3e5587;
}

.about-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #fff;
  text-align: justify;
}

/* Right column: image */
.about-image {
  flex: 1;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

.about-image img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .about-content {
    padding: 10px;
  }

  .about-content h2 {
    font-size: 2rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .about-image {
    top: 0;
    padding: 0;
  }

  .about-image img {
    width: 80%;
    max-width: 200px;
  }
}
