/* src/components/footer.css */

.main-footer {
    background-color: var(--color-primary);
    color: #999999;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.9em;
    border-top: 5px solid var(--color-accent); /* A subtle accent line */
}

.footer-text, .footer-built {
    margin: 5px 0;
}