.project-section{
    margin-top: 100px;
}
.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0px;
  }
  .project-container {
    text-align: center;
    color: #000000;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    padding: 30px;
    background-color: rgba(255, 255, 255); 
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgb(0, 0, 0); 
    transition: box-shadow 0.3s ease-in-out;  
  }

  h2{
    font-weight: bold;
    font-size: 16px;
  }
  .card1 {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card1:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  